.app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - env(safe-area-inset-top));
  max-width: 1000px;
  margin: 0 auto;
}

.layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  min-width: 0;
}
